body {
    font-family: sans-serif;
  }
  .button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .row {
    margin: 8px 0;
  }
  .row input {
    width: 291px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid wheat;
    border-radius: 5px;
  }
  .text-center {
    text-align: center;
  }
  
  .bg-red {
    background: red;
  }
  
  .mx-auto {
    margin: auto;
  }
  .button:hover {
    color: yellow;
  }
  
  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  .cal {
    background-color: black;
  }
  h1 {
    color: whitesmoke;
  }
  .red {
    background: brown;
  }
  